// ==========================================================================
// Button Styles
// ==========================================================================
button{
	padding: 0;
	background: none;
	border: none;
	outline: none;

	&.submit{
		padding: 0.7em 1em;
		color: #fff;
		@include aktiv;
		border: 3px solid #fff;
		@include border-radius(5px);
		@include transition(all,.3s);

		&:hover{
			color: $blue2;
			background-color: #fff;
		}
		
		span,i{
			display: inline-block;
			vertical-align: middle;
		}

		i{
			margin-left: 1em;
		}
	}// .submit

}// button

.button{
	display: inline-block;
	padding: 0.6em 1em;
	font-weight: 700;
	@include border-radius(5px);
	@include transition(all,.3s);

	&.primary{
		color: #fff;
		background-color: $green;
	}

	&.secondary{
		color: #fff;
		border: 3px solid #fff;

		&:hover{
			color: #333;
			background-color: #fff;
		}
	}

	&.arrow{
		position: relative;

		&:after{
			content:"";
		}
	}
}// .button

.show-more{
	padding-bottom: 5px;
	color: $red;
	font-weight: 700;
	border-bottom: 3px solid transparent;
	@include transition(all,.3s);

	&:hover{
		border-bottom: 3px solid $red;
	}
}

.btn {
    padding: 0.5em 1em;
    color: #fff;
    background-color: #2dcea2;
    border-bottom: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;	
    display: inline-block;
    margin-top: 2em;

    &:hover {
		background-color: #28b992;
        border-bottom: none;    	
    }    
}

.button-outline {
    padding: 0.5em 1em;
    color: #fb3000;
    font-size: 20px;
    border: 3px solid #fb3000;
    @include border-radius(4px);
    @include transition(all,.3s);
    display: inline-block;

    &:hover {
    	border: 3px solid #2dcea2;
    	color: #2dcea2;
    }
}

