// ==========================================================================
// Button Styles
// ==========================================================================
button{
	padding: 0;
	background: none;
	border: none;
	outline: none;

	&.submit{
		padding: 0.7em 1em;
		color: #fff;
		@include aktiv;
		border: 3px solid #fff;
		@include border-radius(5px);
		@include transition(all,.3s);

		&:hover{
			color: $blue2;
			background-color: #fff;
		}
		
		span,i{
			display: inline-block;
			vertical-align: middle;
		}

		i{
			margin-left: 1em;
		}
	}// .submit

}// button

.button{
	@include border-radius(5px);
	@include transition(all,.3s);

	&.primary{
		color: #fff;
		background-color: $green;
	}

	&.secondary{
		color: #fff;
		border: 3px solid #fff;

		&:hover{
			color: #333;
			background-color: #fff;
		}
	}

	&.arrow{
		position: relative;

		&:after{
			content:"";
		}
	}
}// .button