// ==========================================================================
// Site Colors
// ==========================================================================

$blue 	: #017ffa;
$blue2 	: #1a97cd;
$blue3 	: #7cc9dd;

$red	: #ff6344;
$orange	: #ff9f0c;
$yellow	: #ffda34;

$green 	: #2dcea2;