
/* 
 *  Owl Carousel - Animate Plugin
 */

.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.owl-carousel .fadein {
    -webkit-animation-name: fadein;
    animation-name: fadein;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 
 *  Owl Carousel - Auto Height Plugin
 */

.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}


/* 
 *  Core Owl Carousel CSS File
 */

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);

    .icon {
        display: block;
        content: '';
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
        background: url(../images/images-icon.png) left top no-repeat;
        cursor: pointer;

        .home &, .blog & {
            display: none;
        }
    }
}

.owl-carousel .owl-stage-outer



.owl-controls .owl-nav {
    display: block;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
    display: none;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style-type: none;
}

.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
} 



.owl-carousel .owl-item img {
    display: block;
    max-width: 100%;
    -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}


/* No Js */

.no-js .owl-carousel {
    display: block;
}


/* 
 *  Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}


/* 
 *  Owl Carousel - Custom Nav
 */

.owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -(58px / 2);

    .category &, .blog & {
        display: none;
    }

    
    .owl-prev,
    .owl-next {
        width: 1em;
        height: 1em;
        display: block;
        position: absolute;
        z-index: 10;
        cursor: pointer;
        opacity: 1;
        @include transition(all .3s ease);
        color: #FFF;
        line-height: 1;
        text-align: center;
        font-size: 3em;
        padding: 0.5em 0.1em;
        @include box-sizing(content-box);

        @include device-width(8) {
            font-size: 2em;
        }

        &:hover {
            color: #CCC;
        }

        &.disabled {
            opacity: 0;
            visibility: hidden;
        }
    }
        
    .owl-next {
        right: 5%;

        @include device-width(8) {
            right: 1%;
        }        

        &:before {
            @include icon('arrow-icon-right');
        }

    }
    
    .owl-prev {
        left: 5%;

        @include device-width(8) {
            left: 1%;
        }

        &:before {
            @include icon('arrow-icon-left');
        }
    }
}

.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;  // added this
}

.owl-dots {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;    
}

.owl-dots .owl-dot {
    width: 10px;
    border: 2px solid #FFF;
    height: 10px;
    border: 2px solid #FFF;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer; 

    &.active {
        background-color: #fff;
    }
}

@media only screen and (max-width: 600px) {
    .owl-dots .owl-dot {
        width: 1rem;
        height: 1rem;    
    }
}