// ==========================================================================
// Page Specific
// ==========================================================================

#home{

	.home-items{
		margin-top: 60px;
		margin-bottom: 120px;
		.row{
			margin: 0 -2%;
		}

		.col-1-3{
			padding: 0 2%;

			@include device-width(900px){
				width: 50%;
				margin-bottom: 4%;

				&:last-child{
					width: 100%;

					.overlay{
						background-size: inherit;
					}
				}
			}

			@include device-width(650px){
				width: 100%;

				.overlay{
					background-size: inherit;
				}
			}
		}// .col-1-3

		.inner{
			position: relative;
			overflow: hidden;
			border-width:1em;
			border-style:solid;
			
			figure{
				height: 400px;
				padding: 1em;
				background-size: cover;
				background-position: center;
				@include opacity(0.2);
				@include scale(1);
				@include transition(all,.5s);


				@include device-width(500px){
					height: 300px;
				}
			}

			&:hover{
				figure{
					@include scale(1.22);
				}
			}
		}

		.overlay{
			position: absolute;
			top: 1em;
			bottom: 1em;
			left: 1em;
			right: 1em;

			.valign{
				width: 100%;
				padding: 0 10px;
				text-align: center;
			}

			img{
				@include transition(all,.5s);
			}

			span{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0em;
				color: #fff;
				font-weight: 700;
				text-align: center;
				line-height: 1;
				@include opacity(0);
				@include transition(all,.5s);

				@include device-width(600px){
					font-size: 80%;
				}
			}

			&:hover{

				img{
					margin-bottom: 2em;
				}

				span{
					bottom: 1em;
					@include opacity(1);
				}
			}
		}// .overlay
	}// .home-items

	.owl-nav {
		display: none;
	}

	#slider {
		.owl-item.active {
			.slide {
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 100%;
					z-index: 1;
					background: rgba(0,0,0,0.4);
				}			

				.valign {
					z-index: 2;
				}				
			}
		}
	}

}// #home

// ==========================================================================
// APARTMENT PAGE
// ==========================================================================

#apartment{
	position: relative;

	.left-wrapper{
		width: 60%;
		float: left;

		@include device-width(1200px) {
			padding-right: 0;
		}
	}

	.right-wrapper{
		width: 30%;
		float: right;
	}	

	.sticky-wrapper{
		width: 30%;
		float: right;

		#sticky-request {
			opacity: 0;

			&.sticky {
				opacity: 1;
			}
		}
	}		

	@include device-width(900px) {
		.left-wrapper, .right-wrapper {
			width: 100%;
		}
	}

	.request {
		border: 1px solid #c0c0c0;
		border-top: 9px solid #fb3000;
		padding: 40px;
		@include box-sizing('border-box');
		background: #FFF;
	    margin-top: -2.45em;
	    position: relative;
	    z-index: 5000;		
	    text-align: center;
	    margin-bottom: -0.5em;

	    @include device-width(900px) {
 			margin-top: 0;
	    }

		span {
			font-size: 40px;
			color: #333333;
			display: inline-block;
			border-bottom: 1px solid #c0c0c0;
		    padding: 0 5% 1em;

		}
	}
		
	.section{
		padding: 3em 0;

		&.yellow{
			background-color: #ffed9a;
			padding: 2em 0 0;

			.section-heading {
				margin: 0;
				padding: 0;
				color: #000;
			}			
		}

		&.off-white{
			background-color: #faf6ee;

			.section-heading{
				border-bottom: 1px solid #cccccc;
			}
		}
	}
	
	.section-heading{
		padding-bottom: 0.5em;
		color: $red;
	}

	.section-subheading{
		margin-bottom: 0;
		font-size: 1em;
	}

	.section-content{
		p{
			font-size: 0.9em;
			margin: 1.3em 0;
		}
	}

	.intro-text{
		font-size: 18px;
	}

	.box-list{
		@extend %notalist;
		@extend .clearfix;
		margin-top: 0.5em;

		li{
			float: left;
			width: 15%;
			min-width: 115px;
			margin-right: 1.667%;
			vertical-align: top;
			text-align: center;

			@media screen and (min-width:751px) and (max-width:1440px){
				width: 30%;
				margin-right: 5%;
				
				&:nth-child(3n+1){
					clear: left;
				}

				&:nth-child(3n+3){
					margin-right: 0;
				}
			}

			@media screen and (min-width: 450px) and (max-width: 750px){
				width: 45%;
				margin-right: 5%;
				
				&:nth-child(2n+1){
					clear: left;
				}

				&:nth-child(2n+2){
					margin-right: 0;
				}
			}

			@include device-width(449px){
				width: 100%;

				.inner{
					display: none;
				}

				p{
					margin: 0;
				}
			}

			.inner{
				padding:1em;
				text-align: center;
			}

			p{
				font-size: 0.8em;
			}
		}// li

		&:first-of-type{
			.inner{
				background-color: #feda34;
				border: 10px solid lighten(#feda34,20%);
			}
		}

		&:last-of-type{
			.inner{
				background-color: #188dc6;
			}
		}
	}// .box-list

	.hide-more{
		position: relative;
		max-height: 500px;
		overflow: hidden;
		@include single-transition(max-height, .5s);

		&:after{
			content: "";
			position: absolute;
			right:0;
			bottom:0;
			left: 0;
			height:50px;
			// needs latest Compass, add '@import "compass"' to your scss
			@include filter-gradient(#ffffff, #faf6ee, vertical); // IE6-9
			@include background-image(linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(250,246,238,1) 100%));
		}

		&.expand{
			max-height: 2000px;

			&:after{
				display: none;
			}
		}
	}// .hide-more

	.rules{
		margin-top: 2em;
		padding-top:1em;
		border-top: 1px solid #cccccc;
	}

	.review{

		article{
			@extend .clearfix;
			margin-top: 3em;

			&:first-child{
				margin-top: 0;
			}

			.article-image{
				float:left;
				width: 15%;

				@include device-width(450px){
					display: none;
				}
			}

			.article-content{
				float: left;
				width: 85%;
				padding-left: 20px;

				@include device-width(450px){
					width: 100%;
					padding-left: 0;
				}
			}

			.review-name{
				font-weight: 700;
			}

			.review-text{
				margin-top: 0;
			}
		}// article

		.hide-more{
			height: 150px;

			&:after{
				@include filter-gradient(#ffffff, #ffed9a, vertical); // IE6-9
				@include background-image(linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,237,154,1) 100%));
			}
		}

	}// .review

	.host{
		@include device-width(450px){

			.col-2-5{
				width: 100%;
				text-align: center;				
			}
			
			.col-3-5{
				width: 100%;
			}
		}
	}// .host

	#margate-map #map-wrapper #map {
		height: 825px;
	}

	#margate-map #map-wrapper .map-title {
	    left: 5em;

	    h3 {
	    	font-size: 40px;
	    	color: #fb3000;
	    	margin: .5em 0;
	    }

	    p {
	    	font-size: 18px;
	    	color: #333333;
	    	line-height: 1.4;
	    }

	    a.button-outline {
    		margin-top: .5em;
	    }


	}

}// #apartment

// ==========================================================================
// COMMUNITY
// ==========================================================================

#community{

	#slider {
		.valign {
		    width: 100%;
		    text-align: center;		
		    color: #FFF;	

		    img {
		    	margin: 0 auto;
		    }
		}
	}

	.article-list{
		article{
			&:nth-child(n+1){
					color: #fff;
					background-color: $blue3;
			}

			&:nth-child(2n+2){
					color: #fff;
					background-color: $red;
			}

			&:nth-child(3n+3){
					color: #fff;
					background-color: $green;
			}

			&:nth-child(even){
				.inner{
					padding: 5%;
					padding-right: 0;
					@include translateX(100%);

					@include device-width(950px){
						padding: 1em;
						margin: 0;
					}

					@media screen and (max-width: 750px){
						@include translateX(0);
					}
				}

				.article-image{
					@include translateX(-100%);

					@media screen and (max-width: 750px){
						@include translateX(0);
					}
				}
			}

		}// article

		.content-wrap{
			&.match-block-1-2{
				@include device-width(750px){
					display: block;
					width: 100%;
				}				
			}
		}// .content-wrap

		.inner{
			float: right;
			max-width: 720px;
			margin-left: 10%;
			padding: 5%;
			padding-left: 0;

			.article-category{
				font-weight: 700;
				margin-bottom: 1.5em;
			}
			
			.article-title{
				margin: 0;
				font-weight: 400;
				line-height: 1;
			}

			.article-excerpt{
				font-size: 0.9em;
			}

			.button{
				margin-top: 1em;
			}

			@include device-width(1200px){
				font-size: 80%;
			}

			@include device-width(950px){
				padding: 1em;
				margin: 0;
			}

			@include device-width(750px){
				float: none;
			}

		}// .article-content

		.article-image{
			padding-top: 31%;
			background-size: cover;

			&.match-block-1-2{
				@include device-width(750px){
					display: block;
					width: 100%;					
				}
			}

			@include device-width(750px){
				padding-top:61%;
			}
		}// .article-image

	}// .article-list
}// #community

// ==========================================================================
// SINGLE
// ==========================================================================

#single{

	.hero {
	    padding-top: 40%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center;		
	}
	
	#article{
		&.container{
			@include device-width(950px){
				width: 100%;
				padding: 0 1em;
			}
		}

		.article-header{
			text-align: center;

			h1{
				margin: 5% 0;
				color: $red;
				font-size: 5em;
				line-height: 1.2;

				@include device-width(950px){
					font-size: 3em;
				}
				@include device-width(600px){
					font-size: 2em;
				}
			}
		}// .article-header

		.article-content{
			position: relative;
			width: 100%;
			max-width: 800px;
			margin-right: auto;
			margin-left: auto;
			
			p{
				font-size: 0.9em;
				line-height: 1.6;

				@include device-width(750px){
					font-size: 0.8em;
				}

				&:first-child{
					font-size: 1.3em;

					@include device-width(950px){
						font-size: 1.1em;
					}
					@include device-width(600px){
						font-size: 0.9em;
					}
				}
			}
		}// .article-content

	}// #article

	#related{

		&.match-block-container{
			@include device-width(800px){
				display: block;
			}

			.match-block-1-2{
				@include device-width(800px){
					display: block;
					width: 100%;
				}

				.article-inner {
					padding: 5% 10%;
				}
			}
		}

		article{
			color: #fff;
			background-color: $blue3;

			&:first-child{
				background-color: $green;

				.inner{
					float: right;
					margin-left: 10%;
					padding-left: 0;

					@include device-width(800px){
						float: none;
						margin: 0;
						padding: 1em;
					}
				}
			}
		}// article

		.related-image{
			padding-top: 61%;
			background-size: cover;
		}

		.inner{
			max-width: 720px;
			padding: 5%;
		
			.related-category{
				font-size: 0.9em;
				font-weight: 700;
			}

			.related-title{
				margin: 0.5em 0 0 0;
				font-size: 1.5em;
			}

			.related-excerpt{
				font-size: 0.9em;
			}

			@include device-width(950px){
				font-size: 80%;
			}

			@include device-width(800px){
				margin: 0;
				padding: 1em;
				font-size: 100%;
			}

			@include device-width(500px){
				font-size: 80%;
			}
		}// .inner

		.button{
			margin-top: 1em;
		}

	}// #related

}// #single

// ==========================================================================
// PAGE
// ==========================================================================

#page{
	padding: 3em 0;

	@include device-width(950px){
		padding: 1em 0;
	}
	
	%header{
		margin-bottom: 1em;
		line-height: 60px;		
	}

	#page-content{
		float: left;

		@include device-width(950px){
			width: 100%;
		}

		header{
			@extend %header;

			h1{
				margin: 0;
				color: $red;
				font-size: 2em;
				font-weight: 400;
			}
		}

		.inner{
			max-width: 700px;

			@include device-width(950px){
				max-width: 100%;
			}

			@include device-width(750px){
				font-size: 0.9em;
			}

			@include device-width(500px){
				font-size: 0.8em;
			}

			p:first-child{
				margin-top: 0;
			}
		}
	}// #page-content

	#page-menu{
		float: right;
		padding-left: 2em;

		@include device-width(950px){
			width: 100%;
		}

		header{
			@extend %header;

			h1{
				margin: 0;
				font-size: 1.25em;
				font-weight: 400;
			}

			@include device-width(950px){
				display: none;
			}
		}

		.menu{
			@extend %notalist;

			@include device-width(950px){
				margin-bottom: 2em;
				border-bottom: 1px solid rgba(#333,0.2);
			}

			li.menu-item{
				&.current-menu-item{
					a{
						color: $red;
					}
				}

				@include device-width(950px){
					display: inline-block;
					margin-right: 1em;
					margin-bottom: 0.5em;
					font-size: 0.9em;

					&:last-child{
						margin-left: 0;
					}
				}

				@include device-width(750px){
					font-size: 0.8em;
				}
			}// li.menu-item

			a{
				color: #333;
				@include single-transition(color,.3s);

				&:hover{
					color: $red;
				}
			}

		}// .menu

	}// #page-menu

}// #page

/* ==========================================================================
   Map
   ========================================================================== */

.gm-style-iw {
	top: 25px !important;
	left: 25px !important;

	p {
		margin: 0 0 1em;
		font-size: 16px;
	}

	h3 {
		font-size: 26px;
		margin: 0;
		font-weight: normal;
	}
}

#margate-map{
	
	#map-wrapper{
		position: relative;

		.map-title{
			position: absolute;
			top:0;
			left: 3em;
			max-width: 300px;
			z-index: 9999;
		}

		#map{
			position: relative;
			height: 1000px;
			margin: 0; 
			padding: 0;

			img{
				max-width: inherit;
			}
		}// #map
	}

	#markers{
		@extend %notalist;
		display: none;

		.match-block-container{
			.inner{
				max-width: 720px;
				margin-left: 10%;
				padding: 5% 5% 5% 0;
			}
		}

		.marker:nth-child(even){
			.content-wrap{
				float: right;
			}

			.image{
				@include translateX(-100%);
			}
		}
	}// #markers	

}// #margate-map

