// ==========================================================================
// Typographic Styles
// ==========================================================================

body{
	font-size: 125%;
	font-family:'Aktiv Grotesk W01';
}

a{
	color: $red;
	text-decoration: none;
	@include transition(all,.3s);
}