// ==========================================================================
// Typographic Styles
// ==========================================================================

@mixin aktiv{
	font-family:'Aktiv Grotesk W01';	
}

body{
	color: #333333;
	font-size: 115%;
	font-family:'Aktiv Grotesk W01';
}

a{
	color: $red;
	text-decoration: none;
	@include transition(all,.3s);
}

.section-heading{
	font-size: 2em;
	font-weight: 400;
}